*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    width: 100%;
}

.row{
    width: 100%;
}

    /* COLUMN */

    .col-h-80{
        width: 100%;
        height: calc(80vh - 75px);
        border: red dashed 1px;  
    }

    .col-h-20{
        width: 100%;
        height: calc(20vh); 
        border: red dashed 1px;   
    }

    .col-25{
        width: 25%;
        border: red dashed 1px;
        height: 25px;
    }

    .col-33{
        width: calc(100% / 3);
        border: red dashed 1px;
        height: 75px;
    }

    .col-50{
        width: calc(50% - 20px);
        border: red dashed 1px;
        height: 200px;
        margin: 10px;
    }

    .col-100{
        width: 100%;
    }

    .display{
        display: none;
    }



/* TOP */
#top{
    height: calc( 100vh - 75px );
    width: 100%;
    background-color: red;
}
    /* SIDEBAR */

    #sidebar{
        width: 50px;
        height: 100%;
        background-color: #000;   
    }

    .menu{
        margin: 20px 0;
        line-height: 2rem
    }

    .menu img{
        width: 25px;
    }
    
    .logo{
        font-size: 1.5rem;
    }
    .fa-plus{
        background: #fff;
        padding: 5px 10px;
        color: #000;
        font-size: 30px;
        
    }

    ul{
        list-style-type: none;
        padding: 0;
        line-height: 2rem;
    }

    .add-playlist{
        display: inline-block;
        vertical-align: middle;
    }



    /* MAIN CONTENT */
    #main-content{
        width: calc(100% - 50px);
        height: 100%;
        background-color: #141922;
        overflow-y: auto;
    }



    /* HEADER */

    header{
        width: calc(100% - 50px);
        height: 75px;
        background-color: #080b12;
        position: fixed;
        z-index: 1;
    }

    button{
        filter: invert();
        border-radius: 50px;
        padding: 10px 40px;
        border: 1px black solid;
        font-size: 10px;
        margin: 15px 10px 0 0;
    }

/* BOTTOM */

#bottom{
    height: 75px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 1;
}

/* POSITIONING AND FLEXING */

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-column{
    flex-direction: column;
}

.jc-center{
    justify-content: center;
}

.va-middle{
    vertical-align: middle;
}

.ta-end{
    text-align: end;
}

.ta-center{
    text-align: center;
}

/* FONT MODELLING */

.fc-white{
    color: #fff;
}

.ci-white{
    filter: invert();
}

.margin-fix{
    margin-top: 75px;
}

/* MEDIA QUERY */

@media  screen and (min-width: 500px) {
    /* MAIN-CONTENT */

    header{
        width: calc(100% - 175px);
    }
    
    #main-content{
        width: calc(100% - 175px);
    }

    main .col-25{
        width: calc(100% / 3);
    }

    #sidebar{
        width: 175px;
    }

    .display{
        display: inline-block;
    }

    #sidebar .ta-center {
        text-align: start;
    }


    
}

@media  screen and (min-width: 761px) {
    /* MAIN-CONTENT */

    main .col-25{
        width: calc(100% / 5);
    }

    .col-50{
        width: calc(25% - 20px); 
    }

    footer .col-33:first-child , .col-33:last-child{
        width: 175px;
    }

    footer .col-33{
        width: calc(100% - 350px);
    }
    
    
}

